version: '3.8'
services:
  app:
    build: .
    ports:
      - "8081:8081"
    environment:
      DB_URL: jdbc:postgresql://db.qnlcnuxdhqxngnaaiyyu.supabase.co:5432/postgres
      DB_USERNAME: postgres
      DB_PASSWORD: #Noonecanguessthis

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"